/* Reseting our page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-header {
  width: 100%;
  margin: 0.8rem 1.2rem;
  display: flex;
  height: 60px;
  padding: 16px;

  align-items: center;
  justify-content: space-between;
}

/* Header Section */

#header-left-section {
  display: flex;
  height: 100%;
  align-items: center;
}

#header-left-section i {
  color: #777;
  font-size: 1.2rem;
}

#header-left-section img {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin-left: 1.5rem;
}

#header-middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-middle-section input[type="text"] {
  width: 500px;
  padding: 0.6rem 1.2rem;
  height: 20px;
}

#header-middle-section button {
  margin-left: -54px;
  height: 26px;
  width: 50px;
  display: inline-block;
  border: 0;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background: #f4f4f4;
}

#header-middle-section button:hover {
  background: #eee;
  cursor: pointer;
}
